fastapi
uvicorn[standard]
setuptools<60.0.0
numpy==1.19.5
spacy==2.3.5
pdfminer.six
python-multipart
pytest
black
isort
flake8
openai
notion-client
httpx
pyresparser
bs4
selenium
webdriver_manager
lxml
playwright
